//
// Colours

$black: black;
$white: white;
$orange: #fc5c3b;

$primary: #5b25ef;
$secondary: lighten($orange, 30%);

$purple-100: #bda8f9;
$purple-200: #ded3fc;

$grey-100: #292929;
$grey-200: #707070;
$grey-300: #9c9c9c;

$font-base: $grey-100;
