.testimonial-blocks {
	@extend %padding;

	&-wrapper {
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}
		h2 {
			@extend %h2;
			width: 100%;
			text-align: center;
			margin-bottom: 30px;

			@include media-breakpoint-up(xl) {
				margin-bottom: 50px;
			}
			@media only screen and (min-width: 1920px) {
				text-align: left;
				width: 341px;
				margin-bottom: 0;
				margin-right: 115px;
			}
		}
		.testimonials {
			&-desktop {
				display: none;

				@include media-breakpoint-up(lg) {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					flex-wrap: wrap;
				}
			}
			&-mobile {
				display: block;

				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
			.testimonial {
				@include media-breakpoint-up(lg) {
					width: calc(100% / 3 - 2rem);
					margin: 0 1rem;
				}
				@media only screen and (min-width: 1920px) {
					width: 315px;
					margin: 0;
				}
				&:not(:last-of-type) {
					@media only screen and (min-width: 1920px) {
						margin-right: 95px;
					}
				}
				&-wrapper {
					text-align: center;

					img {
						width: 125px;
						margin: 0 auto 20px;

						@include media-breakpoint-up(lg) {
							margin: 0 0 1rem;
						}
						@include media-breakpoint-up(xl) {
							margin: 0 0 20px;
						}
						@media only screen and (min-width: 1920px) {
							margin: 0 0 30px;
							width: 150px;
						}
					}
					p {
						@extend %fontRegular;
						margin-bottom: 1rem;
						font-size: 18px;

						@include media-breakpoint-up(lg) {
							font-size: 14px;
						}
						@include media-breakpoint-up(xl) {
							margin-bottom: 20px;
							font-size: 16px;
						}
						@media only screen and (min-width: 1920px) {
							margin-bottom: 30px;
							font-size: 18px;
						}
					}
					b {
						display: block;
						@extend %fontBold;
						@extend %smallSizes;
					}
				}
			}
		}
		.slick-dots {
			padding: 0;
			margin: 20px 0 0;
			list-style: none;
			display: flex;
			justify-content: center;

			li {
				&:not(:last-of-type) {
					margin-right: 15px;
				}
				.dot {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					border: 1px solid $grey-100;
					background: transparent;
					transition: all 0.3s ease-in-out;
				}
				&.slick-active {
					.dot {
						background: $grey-100;
					}
				}
			}
		}
	}
}
